<a href="https://colab.research.google.com/github/hevertongomes/API-OMDb-JavaScript/blob/master/Tarefa01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Atividade 01**
A atividade consiste em selecionar uma base de dados do tipo **Regressão** e outra do tipo **Classificação** e aplicar pelo menos dois dos 6 tratamentos listados abaixo:


1.   **Visão geral do data frame**
>*   Aleterar a visualização do dataframe, selecionando colunas específicas por exemplo.
>*   **loc, iloc, etc**
2.   **Dados Faltantes**
>*   Aplicar alguma estratégia para tratar os dados faltantes de a cordo com o contexto da base de dados.
>*   **Remoção das colunas, Remoção das linhas, Preenchimento com um valor definido, Preenchimento com a média ou moda**
3.    **Outliers**
>*    Tratar valor muito fora dos padrões
4.    **Mudança de escala**
>*     mudar alguma série de escalar para uma possível comparação
>*    **Normalização por reescala, normalização por padronização, StandardScaler, MinMaxScale**
5.    **Mudança de Tipo**
>*     Mudar o tipo de dados de uma coluna
>*    **Label Encoder**
6.    **Redução de dimensionalidade**
>*    **PCA**

#Aternativas:


*   https://www.kaggle.com/dannielr/marvel-superheroes

*   https://www.kaggle.com/omermetinn/values-of-top-nasdaq-copanies-from-2010-to-2020
* https://www.kaggle.com/sureshmecad/predict-a-doctors-consultation-fee

# Base para predição do custo de uma consulta médica

> ## Metadata
* O valor da consulta no final está em rúpia indiana IRN

### **Apresentação da base**

In [1]:
import pandas as pd

consultas = pd.read_excel('https://github.com/ashouy/Aprendizado-de-Maquina/blob/main/bases/consultation_fee/train.xlsx?raw=true')
consultas

                       Qualification  ... Fees
0              BHMS, MD - Homeopathy  ...  100
1       BAMS, MD - Ayurveda Medicine  ...  350
2     MBBS, MS - Otorhinolaryngology  ...  300
3                BSc - Zoology, BAMS  ...  250
4                               BAMS  ...  250
...                              ...  ...  ...
5956                  MBBS, MS - ENT  ...  300
5957                            MBBS  ...  100
5958                            MBBS  ...  600
5959     MBBS, MD - General Medicine  ...  100
5960         BDS, MDS - Orthodontics  ...  200

[5961 rows x 7 columns]

### **Tratamento**

#### Dados faltantes, alterar tipos

In [ ]:
hasNan = consultas.isnull().sum()
print(hasNan)

Qualification            0
Experience               0
Rating                3302
Place                   25
Profile                  0
Miscellaneous_Info    2620
Fees                     0
dtype: int64



*   Remoção coluna micellaneousInfo column (tratado como dado irrelevante)

In [ ]:
consultas_tratadas = consultas[['Qualification','Experience','Rating','Place','Profile','Fees']]
consultas_tratadas.head()

                    Qualification           Experience  ...         Profile Fees
0           BHMS, MD - Homeopathy  24 years experience  ...       Homeopath  100
1    BAMS, MD - Ayurveda Medicine  12 years experience  ...        Ayurveda  350
2  MBBS, MS - Otorhinolaryngology   9 years experience  ...  ENT Specialist  300
3             BSc - Zoology, BAMS  12 years experience  ...        Ayurveda  250
4                            BAMS  20 years experience  ...        Ayurveda  250

[5 rows x 6 columns]

* Mudando tipo do experience para int

In [ ]:
#muda tipo experiencia
exp_column_int = consultas_tratadas['Experience'].str[:2].astype(int)
consultas_tratadas['Experience'] = exp_column_int

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

* muda rating para int e substitui os NAN pela média

In [ ]:
consultas['Rating'].unique()

array(['100%', '98%', nan, '99%', '79%', '95%', '97%', '94%', '88%',
       '90%', '80%', '93%', '36%', '78%', '87%', '96%', '82%', '89%',
       '74%', '86%', '92%', '83%', '76%', '85%', '56%', '91%', '68%',
       '60%', '75%', '69%', '73%', '67%', '77%', '33%', '55%', '71%',
       '84%', '45%', '63%', '72%', '81%', '62%', '57%', '7%', '48%',
       '40%', '70%', '64%', '65%', '47%', '58%', '53%'], dtype=object)

In [ ]:
import numpy as np

def convert_rating_to_int(rating_string):
  parsed = str(rating_string)
  if parsed == 'nan':
    return (rating_string)
  elif len(parsed) > 3:
    return int(parsed[:3])
  elif len(parsed) > 2:
    return int(parsed[:2])
  elif len(parsed) > 1:
    return int(parsed[:1])

test = consultas_tratadas['Rating'].apply(convert_rating_to_int)
test.head()

0    100.0
1     98.0
2      NaN
3      NaN
4    100.0
Name: Rating, dtype: float64

In [ ]:
consultas_tratadas['Rating'] = test
consultas_tratadas

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                       Qualification  Experience  ...           Profile Fees
0              BHMS, MD - Homeopathy          24  ...         Homeopath  100
1       BAMS, MD - Ayurveda Medicine          12  ...          Ayurveda  350
2     MBBS, MS - Otorhinolaryngology           9  ...    ENT Specialist  300
3                BSc - Zoology, BAMS          12  ...          Ayurveda  250
4                               BAMS          20  ...          Ayurveda  250
...                              ...         ...  ...               ...  ...
5956                  MBBS, MS - ENT          19  ...    ENT Specialist  300
5957                            MBBS          33  ...  General Medicine  100
5958                            MBBS          41  ...  General Medicine  600
5959     MBBS, MD - General Medicine          15  ...  General Medicine  100
5960         BDS, MDS - Orthodontics          17  ...           Dentist  200

[5961 rows x 6 columns]

In [ ]:
consultas_tratadas.describe()

        Experience       Rating         Fees
count  5961.000000  2659.000000  5961.000000
mean     17.303976    94.643475   307.944640
std      11.142798     7.852813   190.920373
min       0.000000     7.000000     5.000000
25%       9.000000    93.000000   150.000000
50%      14.000000    97.000000   300.000000
75%      23.000000   100.000000   500.000000
max      66.000000   100.000000   950.000000

In [ ]:
from sklearn.impute import SimpleImputer

imput_mean = SimpleImputer(fill_value = 100, strategy='constant')
rating_column = imput_mean.fit_transform(consultas_tratadas[['Rating']])
rating_column

array([[100.],
       [ 98.],
       [100.],
       ...,
       [ 97.],
       [ 90.],
       [100.]])

In [ ]:
consultas_tratadas['Rating'] = rating_column
consultas_tratadas

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                       Qualification  Experience  ...           Profile Fees
0              BHMS, MD - Homeopathy          24  ...         Homeopath  100
1       BAMS, MD - Ayurveda Medicine          12  ...          Ayurveda  350
2     MBBS, MS - Otorhinolaryngology           9  ...    ENT Specialist  300
3                BSc - Zoology, BAMS          12  ...          Ayurveda  250
4                               BAMS          20  ...          Ayurveda  250
...                              ...         ...  ...               ...  ...
5956                  MBBS, MS - ENT          19  ...    ENT Specialist  300
5957                            MBBS          33  ...  General Medicine  100
5958                            MBBS          41  ...  General Medicine  600
5959     MBBS, MD - General Medicine          15  ...  General Medicine  100
5960         BDS, MDS - Orthodontics          17  ...           Dentist  200

[5961 rows x 6 columns]

* mudança de tipo do profile

In [ ]:
profile_types = pd.get_dummies(consultas_tratadas['Profile'], prefix='espec.')
profile_types

      espec._Ayurveda  ...  espec._Homeopath
0                   0  ...                 1
1                   1  ...                 0
2                   0  ...                 0
3                   1  ...                 0
4                   1  ...                 0
...               ...  ...               ...
5956                0  ...                 0
5957                0  ...                 0
5958                0  ...                 0
5959                0  ...                 0
5960                0  ...                 0

[5961 rows x 6 columns]

In [ ]:
consultas_tratadas.iloc[:,[0,1,2,3,5]]

                       Qualification  ...  Fees
0              BHMS, MD - Homeopathy  ...   100
1       BAMS, MD - Ayurveda Medicine  ...   350
2     MBBS, MS - Otorhinolaryngology  ...   300
3                BSc - Zoology, BAMS  ...   250
4                               BAMS  ...   250
...                              ...  ...   ...
5956                  MBBS, MS - ENT  ...   300
5957                            MBBS  ...   100
5958                            MBBS  ...   600
5959     MBBS, MD - General Medicine  ...   100
5960         BDS, MDS - Orthodontics  ...   200

[5961 rows x 5 columns]

In [ ]:
consultas_tratadas_final = profile_types.join(consultas_tratadas.iloc[:, [1,2,3,5]])
consultas_tratadas_final

      espec._Ayurveda  espec._Dentist  ...                          Place  Fees
0                   0               0  ...            Kakkanad, Ernakulam   100
1                   1               0  ...          Whitefield, Bangalore   350
2                   0               0  ...     Mathikere - BEL, Bangalore   300
3                   1               0  ...   Bannerghatta Road, Bangalore   250
4                   1               0  ...          Keelkattalai, Chennai   250
...               ...             ...  ...                            ...   ...
5956                0               0  ...        Basavanagudi, Bangalore   300
5957                0               0  ...          Nungambakkam, Chennai   100
5958                0               0  ...  Greater Kailash Part 2, Delhi   600
5959                0               0  ...         Vileparle West, Mumbai   100
5960                0               1  ...               Pitampura, Delhi   200

[5961 rows x 10 columns]

# Base do HERO DC_MARVEL

> ## Metadata
* Dados sobre os super hérois da DC e Marvel Commics, acesso em: https://www.kaggle.com/dannielr/marvel-superheroes

> ## Coluna alvo
* Prentedemos classificar os heróis como fortes ou fracos paseado em seus atributos de poder e raça.

## Apresentação da base

In [2]:

heroes_stats = pd.read_csv('https://raw.githubusercontent.com/ashouy/Aprendizado-de-Maquina/main/bases/marvel_dc_characters/charcters_stats.csv')
heroes = pd.read_csv('https://raw.githubusercontent.com/ashouy/Aprendizado-de-Maquina/main/bases/marvel_dc_characters/marvel_characters_info.csv')

#Selecão das caracteríticas 
heroes_reduce = heroes[['Name','Alignment', 'Gender', 'Race', 'Publisher', 'Height', 'Weight']]

heroes_merge = pd.merge(heroes_reduce, heroes_stats, how = 'inner', on = ['Name', 'Alignment'])
heroes_tx = heroes_merge.rename(columns={'Total': 'TotalPower'})

# Filtragem para apenas análise de heróis da Marvel e DC Comics
heroes_filter = heroes_tx[(heroes_tx['Publisher'] == 'DC Comics') | (heroes_tx['Publisher'] == 'Marvel Comics')]
heroes_filter

                Name Alignment  Gender  ... Power Combat  TotalPower
0             A-Bomb      good    Male  ...    17     64         316
2           Abin Sur      good    Male  ...    84     65         406
3        Abomination       bad    Male  ...    55     95         436
4            Abraxas       bad    Male  ...   100     56         526
6       Adam Strange      good    Male  ...     0      1           5
..               ...       ...     ...  ...   ...    ...         ...
584     Yellowjacket      good    Male  ...    12     14         164
585  Yellowjacket II      good  Female  ...    31     28         182
586             Ymir      good    Male  ...    83     28         388
587          Zatanna      good  Female  ...   100     56         292
588             Zoom       bad    Male  ...    72     28         288

[510 rows x 14 columns]

## Alguns processamentos

## Coversão para sexualidade do herói

In [3]:
# Verifica se tem NaN
hasNan = heroes_filter.isnull().sum()
# print(hasNan)
# print(heroes_filter['Gender'].value_counts())

heroes_filter['Gender'] = heroes_filter['Gender'].astype('str') 


def convert_gender(parsed):
  if parsed == '-':
    return 'not_identify'
  else:
    return parsed

test = heroes_filter['Gender'].apply(convert_gender)

heroes_filter['Gender'] = test
heroes_filter.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

           Name Alignment Gender  ... Power Combat  TotalPower
0        A-Bomb      good   Male  ...    17     64         316
2      Abin Sur      good   Male  ...    84     65         406
3   Abomination       bad   Male  ...    55     95         436
4       Abraxas       bad   Male  ...   100     56         526
6  Adam Strange      good   Male  ...     0      1           5

[5 rows x 14 columns]

## Conversão binária

In [4]:
dfGender = pd.get_dummies(heroes_filter['Gender'], prefix='Gender')
dfGender

     Gender_Female  Gender_Male  Gender_not_identify
0                0            1                    0
2                0            1                    0
3                0            1                    0
4                0            1                    0
6                0            1                    0
..             ...          ...                  ...
584              0            1                    0
585              1            0                    0
586              0            1                    0
587              1            0                    0
588              0            1                    0

[510 rows x 3 columns]

In [5]:
dfAlignment = pd.get_dummies(heroes_filter['Alignment'], prefix='alignment')
dfAlignment

     alignment_bad  alignment_good  alignment_neutral
0                0               1                  0
2                0               1                  0
3                1               0                  0
4                1               0                  0
6                0               1                  0
..             ...             ...                ...
584              0               1                  0
585              0               1                  0
586              0               1                  0
587              0               1                  0
588              1               0                  0

[510 rows x 3 columns]

## Adição de conversões na tabela principal

In [6]:
heroes_al = dfAlignment.join(heroes_filter.drop(columns=['Alignment']))
heroes_al

     alignment_bad  alignment_good  ...  Combat TotalPower
0                0               1  ...      64        316
2                0               1  ...      65        406
3                1               0  ...      95        436
4                1               0  ...      56        526
6                0               1  ...       1          5
..             ...             ...  ...     ...        ...
584              0               1  ...      14        164
585              0               1  ...      28        182
586              0               1  ...      28        388
587              0               1  ...      56        292
588              1               0  ...      28        288

[510 rows x 16 columns]

In [7]:
heroes_finale = dfGender.join(heroes_al.drop(columns='Gender'))
heroes_finale

     Gender_Female  Gender_Male  Gender_not_identify  ...  Power  Combat  TotalPower
0                0            1                    0  ...     17      64         316
2                0            1                    0  ...     84      65         406
3                0            1                    0  ...     55      95         436
4                0            1                    0  ...    100      56         526
6                0            1                    0  ...      0       1           5
..             ...          ...                  ...  ...    ...     ...         ...
584              0            1                    0  ...     12      14         164
585              1            0                    0  ...     31      28         182
586              0            1                    0  ...     83      28         388
587              1            0                    0  ...    100      56         292
588              0            1                    0  ...     72      28         288

[510 rows x 18 columns]

In [8]:
heroes_filter.head() # Alvo

           Name Alignment Gender  ... Power Combat  TotalPower
0        A-Bomb      good   Male  ...    17     64         316
2      Abin Sur      good   Male  ...    84     65         406
3   Abomination       bad   Male  ...    55     95         436
4       Abraxas       bad   Male  ...   100     56         526
6  Adam Strange      good   Male  ...     0      1           5

[5 rows x 14 columns]

In [9]:
# Removendo colunas desnecessárias
heroes_drop = heroes_filter.drop(columns=['Gender', 'Publisher', 'Alignment', 'Name'])
heroes_drop.head()

                Race  Height  Weight  ...  Power  Combat  TotalPower
0              Human   203.0   441.0  ...     17      64         316
2            Ungaran   185.0    90.0  ...     84      65         406
3  Human / Radiation   203.0   441.0  ...     55      95         436
4      Cosmic Entity   -99.0   -99.0  ...    100      56         526
6              Human   185.0    88.0  ...      0       1           5

[5 rows x 10 columns]

In [10]:
# Tratando raça para não invés de: - aparecer não identificada
heroes_drop['Race'] = heroes_drop['Race'].apply(lambda x : x.replace('-', 'undefined'))

In [11]:
# Convertendo coluna de texto em númerica para análises
heroesRace = pd.get_dummies(heroes_drop['Race'], prefix='Race')
heroesRace

     Race_Alien  Race_Amazon  ...  Race_Zombie  Race_undefined
0             0            0  ...            0               0
2             0            0  ...            0               0
3             0            0  ...            0               0
4             0            0  ...            0               0
6             0            0  ...            0               0
..          ...          ...  ...          ...             ...
584           0            0  ...            0               0
585           0            0  ...            0               0
586           0            0  ...            0               0
587           0            0  ...            0               0
588           0            0  ...            0               1

[510 rows x 39 columns]

In [12]:
# Juntar com dataframe alvo os dados obitidos na conversão
heroes_carter = heroesRace.join(heroes_drop.drop(columns='Race'))
heroes_carter

     Race_Alien  Race_Amazon  Race_Android  ...  Power  Combat  TotalPower
0             0            0             0  ...     17      64         316
2             0            0             0  ...     84      65         406
3             0            0             0  ...     55      95         436
4             0            0             0  ...    100      56         526
6             0            0             0  ...      0       1           5
..          ...          ...           ...  ...    ...     ...         ...
584           0            0             0  ...     12      14         164
585           0            0             0  ...     31      28         182
586           0            0             0  ...     83      28         388
587           0            0             0  ...    100      56         292
588           0            0             0  ...     72      28         288

[510 rows x 48 columns]

In [ ]:
# Verificar tipos das colunas do df

<class 'pandas.core.frame.DataFrame'>
Int64Index: 510 entries, 0 to 588
Data columns (total 48 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Race_Alien                    510 non-null    uint8
 1   Race_Amazon                   510 non-null    uint8
 2   Race_Android                  510 non-null    uint8
 3   Race_Animal                   510 non-null    uint8
 4   Race_Asgardian                510 non-null    uint8
 5   Race_Atlantean                510 non-null    uint8
 6   Race_Bizarro                  510 non-null    uint8
 7   Race_Bolovaxian               510 non-null    uint8
 8   Race_Clone                    510 non-null    uint8
 9   Race_Cosmic Entity            510 non-null    uint8
 10  Race_Cyborg                   510 non-null    uint8
 11  Race_DemiundefinedGod         510 non-null    uint8
 12  Race_Demon                    510 non-null    uint8
 13  Race_Eternal                  510 non-null    uint8
 14  Race_Flora Colossus           510 non-null    uint8
 15  Race_Frost Giant              510 non-null    uint8
 16  Race_God / Eternal            510 non-null    uint8
 17  Race_Human                    510 non-null    uint8
 18  Race_Human / Altered          510 non-null    uint8
 19  Race_Human / Cosmic           510 non-null    uint8
 20  Race_Human / Radiation        510 non-null    uint8
 21  Race_HumanundefinedKree       510 non-null    uint8
 22  Race_HumanundefinedVuldarian  510 non-null    uint8
 23  Race_Inhuman                  510 non-null    uint8
 24  Race_Kakarantharaian          510 non-null    uint8
 25  Race_Kryptonian               510 non-null    uint8
 26  Race_Martian                  510 non-null    uint8
 27  Race_Metahuman                510 non-null    uint8
 28  Race_Mutant                   510 non-null    uint8
 29  Race_Mutant / Clone           510 non-null    uint8
 30  Race_New God                  510 non-null    uint8
 31  Race_Neyaphem                 510 non-null    uint8
 32  Race_Planet                   510 non-null    uint8
 33  Race_Symbiote                 510 non-null    uint8
 34  Race_Tamaranean               510 non-null    uint8
 35  Race_Ungaran                  510 non-null    uint8
 36  Race_Vampire                  510 non-null    uint8
 37  Race_Zombie                   510 non-null    uint8
 38  Race_undefined                510 non-null    uint8
 39  Height                        510 non-null    float64
 40  Weight                        510 non-null    float64
 41  Intelligence                  510 non-null    int64
 42  Strength                      510 non-null    int64
 43  Speed                         510 non-null    int64
 44  Durability                    510 non-null    int64
 45  Power                         510 non-null    int64
 46  Combat                        510 non-null    int64
 47  TotalPower                    510 non-null    int64
dtypes: float64(2), int64(7), uint8(39)
memory usage: 79.3 KB

In [13]:
# Criar nova coluna alvo para heróis fracos (0) e heróis fortes (1)
heroes_carter.describe()

       Race_Alien  Race_Amazon  Race_Android  ...      Power      Combat  TotalPower
count  510.000000   510.000000    510.000000  ...  510.00000  510.000000  510.000000
mean     0.007843     0.003922      0.011765  ...   43.27451   46.472549  244.976471
std      0.088300     0.062561      0.107931  ...   34.59424   32.611457  166.171780
min      0.000000     0.000000      0.000000  ...    0.00000    1.000000    5.000000
25%      0.000000     0.000000      0.000000  ...    0.00000    1.000000    5.000000
50%      0.000000     0.000000      0.000000  ...   41.00000   56.000000  272.000000
75%      0.000000     0.000000      0.000000  ...   71.00000   72.000000  365.500000
max      1.000000     1.000000      1.000000  ...  100.00000  101.000000  581.000000

[8 rows x 48 columns]

In [14]:
# Adição de coluna alvo para nível de poder
coluna_alvo = heroes_carter['TotalPower'].apply(lambda x : 0 if x <= 272 else 1)
teste = coluna_alvo.to_frame()

In [15]:
# Adicionar coluna alvo a tabela principal
heroes_force = teste.join(heroes_carter.drop(columns='TotalPower'))
heroes_force

     TotalPower  Race_Alien  Race_Amazon  ...  Durability  Power  Combat
0             1           0            0  ...          80     17      64
2             1           0            0  ...          64     84      65
3             1           0            0  ...          90     55      95
4             1           0            0  ...          99    100      56
6             0           0            0  ...           1      0       1
..          ...         ...          ...  ...         ...    ...     ...
584           0           0            0  ...          28     12      14
585           0           0            0  ...          28     31      28
586           1           0            0  ...         100     83      28
587           1           0            0  ...          28    100      56
588           1           0            0  ...          28     72      28

[510 rows x 48 columns]

In [16]:
# Aplicação do algorito KNM

from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics


X_train, X_test, y_train, y_test = train_test_split(heroes_force.drop(columns=['TotalPower']), heroes_force['TotalPower'],test_size=0.33, stratify=heroes_force['TotalPower'])

In [17]:
# Definindo métricas 
#define os parâmetros a serem testados com o KNN
param_grid_knn = {'n_neighbors': range(1,40,2), 'weights': ['uniform', 'distance'], 'p': [1, 2, 3]} 
#cria o objeto do gridsearchcv
gridknn = GridSearchCV(KNeighborsClassifier(), param_grid_knn, scoring = 'f1_weighted', cv = 10, verbose = 1)
#executa o gridsearchcv para a base separando X e y
gridknn.fit(X_train,y_train)

Fitting 10 folds for each of 120 candidates, totalling 1200 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 1200 out of 1200 | elapsed:   10.9s finished

GridSearchCV(cv=10, error_score=nan,
             estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30,
                                            metric='minkowski',
                                            metric_params=None, n_jobs=None,
                                            n_neighbors=5, p=2,
                                            weights='uniform'),
             iid='deprecated', n_jobs=None,
             param_grid={'n_neighbors': range(1, 40, 2), 'p': [1, 2, 3],
                         'weights': ['uniform', 'distance']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='f1_weighted', verbose=1)

In [18]:
gridknn.best_estimator_

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=11, p=1,
                     weights='uniform')

In [19]:
gridknn.best_score_

0.9530249196967462

In [20]:
# Análise da matrix de confusão
grid_predictions = gridknn.predict(X_test)

In [ ]:
print(metrics.classification_report(y_test, grid_predictions))

              precision    recall  f1-score   support

           0       0.93      0.94      0.94        85
           1       0.94      0.93      0.93        84

    accuracy                           0.93       169
   macro avg       0.93      0.93      0.93       169
weighted avg       0.93      0.93      0.93       169

In [21]:
# Teste com o Algoritmo Naive

from sklearn.naive_bayes import GaussianNB

#Create a Gaussian Classifier
model = GaussianNB()

# Train the model using the training sets
model.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [22]:
# Análise de matrix de confusão
pred = model.predict(X_test)

print(metrics.classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       0.55      0.95      0.70        85
           1       0.82      0.21      0.34        84

    accuracy                           0.59       169
   macro avg       0.68      0.58      0.52       169
weighted avg       0.68      0.59      0.52       169

In [23]:
# Uso da classe

import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedKFold
from sklearn import metrics

class runmodel:
  '''
    Parâmetros de entrada:

    X: atributos de entradas
    y: atributo alvo
    model: algoritmo para construção do estimador
    cv: se None faz N holdouts, se int faz validação cruzada (ambos com estratificação por classe)
    n = quantidade de repetições da amostragem

    Guardar as métricas de cada execução (armazenametricas) e 
    Mostrar os valores médios com desvio padrão para as métricas (mostraresultadomedio) 

    Se dataset tiver mais de 2 classes, adaptar resultados    
  '''

  def __init__(self, X, y, model, cv = None, n = 1):
    
    self.__resultados = {
      'precision_0': [],
      'recall_0': [],
      'f1_0': [],
      'support_0': [],
      'precision_1': [],
      'recall_1': [],
      'f1_1': [],
      'support_1' : [],
      'accuracy' : [],
      'precision_wavg' : [],
      'recall_wavg' : [],
      'f1_wavg' : [],
      'support_wavg' : []
    }

    if cv is None:
      print(f'{n} holdouts')
      for i in range(n):
        self.__avaliamodelo(X, y, model)
    
    else:
      print(f'{n} validação cruzada com {cv} folds')
      for i in range(n):
        self.__avaliamodelo_cv(X, y, model, cv)

  @property
  def resultados(self):
    return self.__resultados

  def __avaliamodelo(self, X, y, model):
    #gera as amostras de treino (2/3) e teste (1/3) com estratificação por classe
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, stratify = y)
    # Treina o modelo usando os dados de treino
    model.fit(X_train,y_train)
    # Testa modelo usando os dados de teste
    pred = model.predict(X_test)
    #armazena resultado
    self.__armazenametricas(metrics.classification_report(y_test,pred, output_dict= True))

  def __avaliamodelo_cv(self, X, y, model, cv):
    #gera as amostras para cv folds com embaralhamento (permite fazer várias validações cruzadas)
    skf = StratifiedKFold(shuffle=True, n_splits=cv)
    #para cada fold: treina, testa e armazena os resultados
    for train_index, test_index in skf.split(X, y):
      model.fit(X.iloc[train_index], y.iloc[train_index])
      pred = model.predict(X.iloc[test_index])
      self.__armazenametricas(metrics.classification_report(y.iloc[test_index], pred, output_dict= True))

  def __armazenametricas(self, d):
    self.__resultados['precision_0'].append(d['0']['precision'])
    self.__resultados['recall_0'].append(d['0']['recall'])
    self.__resultados['f1_0'].append(d['0']['f1-score'])
    self.__resultados['support_0'].append(d['0']['support'])

    self.__resultados['precision_1'].append(d['1']['precision'])
    self.__resultados['recall_1'].append(d['1']['recall'])
    self.__resultados['f1_1'].append(d['1']['f1-score'])
    self.__resultados['support_1'].append(d['1']['support'])

    self.__resultados['accuracy'].append(d['accuracy'])
    
    self.__resultados['precision_wavg'].append(d['weighted avg']['precision'])
    self.__resultados['recall_wavg'].append(d['weighted avg']['recall'])
    self.__resultados['f1_wavg'].append(d['weighted avg']['f1-score'])
    self.__resultados['support_wavg'].append(d['weighted avg']['support'])

  def mostraresultadomedio(self):
    print(f"\t\t precision \t recall \t f1-score \t support\n")
    print(f"0 \t\t {round(np.mean(self.__resultados['precision_0']), 2)}({round(np.std(self.__resultados['precision_0']),2)}) \t {round(np.mean(self.__resultados['recall_0']),2)}({round(np.std(self.__resultados['recall_0']),2)}) \t {round(np.mean(self.__resultados['f1_0']),2)}({round(np.std(self.__resultados['f1_0']),2)}) \t {round(np.mean(self.__resultados['support_0']),2)}({round(np.std(self.__resultados['support_0']),2)})\n")
    print(f"1 \t\t {round(np.mean(self.__resultados['precision_1']), 2)}({round(np.std(self.__resultados['precision_1']),2)}) \t {round(np.mean(self.__resultados['recall_1']),2)}({round(np.std(self.__resultados['recall_1']),2)}) \t {round(np.mean(self.__resultados['f1_1']),2)}({round(np.std(self.__resultados['f1_1']),2)}) \t {round(np.mean(self.__resultados['support_1']),2)}({round(np.std(self.__resultados['support_1']),2)})\n")
    print(f"accuracy \t\t  \t\t  \t {round(np.mean(self.__resultados['accuracy']), 2)}({round(np.std(self.__resultados['accuracy']),2)}) \t\t \n")
    print(f"weighted avg \t {round(np.mean(self.__resultados['precision_wavg']), 2)}({round(np.std(self.__resultados['precision_wavg']),2)}) \t {round(np.mean(self.__resultados['recall_wavg']),2)}({round(np.std(self.__resultados['recall_wavg']),2)}) \t {round(np.mean(self.__resultados['f1_wavg']),2)}({round(np.std(self.__resultados['f1_wavg']),2)}) \t {round(np.mean(self.__resultados['support_wavg']),2)}({round(np.std(self.__resultados['support_wavg']),2)})\n")

In [28]:
# Teste com amostragem aletório

knn = gridknn.best_estimator_

amostragem_aleatoria_naive = runmodel(heroes_force.drop(columns=['TotalPower']),heroes_force['TotalPower'], GaussianNB(), n = 10)

10 holdouts

In [29]:
print('\tMédia e desvio padrão de 10 execuções do KNN com amostragem aleatória\n')
amostragem_aleatoria_naive.mostraresultadomedio()

	Média e desvio padrão de 10 execuções do KNN com amostragem aleatória

		 precision 	 recall 	 f1-score 	 support

0 		 0.55(0.01) 	 0.98(0.01) 	 0.71(0.01) 	 85.0(0.0)

1 		 0.93(0.05) 	 0.19(0.04) 	 0.32(0.06) 	 84.0(0.0)

accuracy 		  		  	 0.59(0.02)

weighted avg 	 0.74(0.03) 	 0.59(0.02) 	 0.51(0.04) 	 169.0(0.0)

In [30]:
# Teste de validação cruzada
cross_validation_naive = runmodel(heroes_force.drop(columns=['TotalPower']), heroes_force['TotalPower'], GaussianNB(), cv = 10, n = 1 )
print('\tMédia e desvio padrão do Naive com 10 fold cross validation\n')
cross_validation_naive.mostraresultadomedio()

1 validação cruzada com 10 folds
	Média e desvio padrão do Naive com 10 fold cross validation

		 precision 	 recall 	 f1-score 	 support

0 		 0.55(0.02) 	 0.98(0.02) 	 0.7(0.02) 	 25.6(0.49)

1 		 0.88(0.11) 	 0.19(0.06) 	 0.31(0.09) 	 25.4(0.49)

accuracy 		  		  	 0.58(0.03)

weighted avg 	 0.72(0.06) 	 0.58(0.03) 	 0.51(0.05) 	 51.0(0.0)

In [31]:
# Aplicação do SVM em base

import pandas as pd
import numpy as np

In [32]:
from sklearn.model_selection import train_test_split

# Nao foi aplicado o LabelEnconder

X_train, X_test, y_train, y_test = train_test_split(heroes_force.drop(columns=['TotalPower']), heroes_force['TotalPower'],test_size=0.33, stratify=heroes_force['TotalPower'])

In [33]:
# Parametros escolhidos

param_grid = {
    'C': [0.1, 1, 10, 100], 
    'gamma': [0.1, 0.01, 0.001, 'auto', 'scale'], 
    'kernel': ['rbf', 'poly', 'sigmoid', 'linear']
}

In [34]:
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC

grid = GridSearchCV(SVC(),param_grid, verbose = 1)
grid.fit(X_train,y_train)

Fitting 5 folds for each of 80 candidates, totalling 400 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 400 out of 400 | elapsed:    3.2s finished

GridSearchCV(cv=None, error_score=nan,
             estimator=SVC(C=1.0, break_ties=False, cache_size=200,
                           class_weight=None, coef0=0.0,
                           decision_function_shape='ovr', degree=3,
                           gamma='scale', kernel='rbf', max_iter=-1,
                           probability=False, random_state=None, shrinking=True,
                           tol=0.001, verbose=False),
             iid='deprecated', n_jobs=None,
             param_grid={'C': [0.1, 1, 10, 100],
                         'gamma': [0.1, 0.01, 0.001, 'auto', 'scale'],
                         'kernel': ['rbf', 'poly', 'sigmoid', 'linear']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=1)

In [35]:
grid.best_params_

{'C': 100, 'gamma': 'scale', 'kernel': 'rbf'}

In [36]:
from sklearn import metrics

pred = grid.predict(X_test)
print(metrics.classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       0.94      0.98      0.96        85
           1       0.98      0.94      0.96        84

    accuracy                           0.96       169
   macro avg       0.96      0.96      0.96       169
weighted avg       0.96      0.96      0.96       169